{# ==================   Contact  =============#}    
<section class="section-contact" id="section-contact">
    <div class="container wrapper">
        <h1 class="heading-secondary white-text">Send a messge</h1>
         <form action="/form-success/" class="contact-form" name="contact" method="POST" data-netlify="true">
            <input type="text" name="Name" id="fname" placeholder="Full Name" required class="input-field">
            <input type="email" name="email" id="email" placeholder="Email Address" required class="input-field">
            <input type="text" name="phone" id="phone" placeholder="Phone Number" required class="input-field">
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required class="input-field"></textarea>
            <input type="submit" value="Send Message &longrightarrow;" >
        </form>
    </div>
</section>
{# End of Contact forms #}




<!-- ============== SECTION CONTACT ============= -->
<section class="section-footer" id="section-footer">
    <div class="container wrapper">
        <h1 class="heading-seconday white-text">Contact</h1>
        <p>Get in touch with Sheila directly,</p>
        <p class="mb-50"><a href="mailto:swristberg@gmail.com">swristberg@gmail.com</a></p>
        <p>For speaking engagements, media inquiries, appearances or consulting;</p>
        <p><a href="mailto:sheila@sheilawristberg.com">Sheila@sheilawristberg.com</a></p>

        <ul class="social-list">
            <li class="social-item">
                <a href="https://gh.linkedin.com/in/sheila-wristberg-b10a3515" class="social-link" title="Sheila Wristberg on Linkedin">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="social-item">
                <a href="https://www.instagram.com/sheilawristberg/" class="social-link" title="Check Sheila out on Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="social-item">
                <a href="https://www.youtube.com/@WLIAfrica" class="social-link" title="Gain Deep insight from Sheila on YouTube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
        </ul>

    </div>
</section> 
<footer>
    <p>&copy; 2023 Sheila Wristberg. All Rights Reserved. Built by &nbsp;<a href="https://carbellsarfo.netlify.app/">Carbell Sarfo</a></p>
</footer>
