
<!-- nav-button and overlay -->
<div class="nav-overlay"></div> 

    
<!-- Back to the top switch -->
<a href="#hero" class="to-top">
    <i class="fa-solid fa-chevron-up"></i>    
</a> 

<!-- =============== Navigation ================ -->
<nav class="nav-bar">
    <div class="container wrapper">
        <div class="nav-container">      
            <div class="nav-btn">
                <div class="lines"></div>
                <div class="lines"></div>
                <div class="lines"></div>
            </div>
            
            <!-- LOGO -->
            <a href="/" class="logo">
                <img src="/assets/sheila-logo.png" alt="Newborn Care Specialist" class="logo-img">
            </a>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#hero" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="./pages/speaking/" class="nav-link">Speaking</a>
                </li>
                <li class="nav-item">
                    <a href="./pages/blog" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#section-contact" class="nav-link">Contact</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>