// ================= Section contact ===================
.section-contact {
    padding: 7rem 0;
    background-image: linear-gradient(to bottom,  rgba(22, 53, 71, 0.8), rgba(17, 43, 58, 0.9)), url(/assets/contact-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;

    form {
        background-color: rgba(var(--clr-green-rgb), .55);
        padding: 4rem 2rem;
        border-radius: 3rem;
    }
}





// ============= Section Footer =============
.section-footer {
    background-image: linear-gradient(to bottom, #2B4658, #000000);
    color: var(--clr-gray-light);
    padding: 8rem 0 10rem;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;

    .footer-container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem 1rem;
    }

    // Footer links
    a {
        display: inline-block;
        color: var(--clr-blue);
        transition: .4s;

        &:hover,
        &:focus {
            color: var(--clr-gray-light);
            transform: skew(10deg) scale(1.1);
        }
    }


    .social-list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin-top: 5rem;

        .social-item{

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }

        .social-link {
            display: flex;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: linear-gradient(to bottom, #2B4658, #000000);
            align-items: center;
            justify-content: center;
            color: var(--clr-gray-light);
            @include shadow;
            border: 2px solid var(--clr-gray-light);
            // margin: 3rem 0;
            @include ease(.4s);

            i {
                font-size: 2rem;
            }

            &:hover, &:focus {
                transform: scale(1.15) translateY(2px);
                outline: 4px solid var(--clr-gray-light);
                outline-offset: 4px;
                color: var(--clr-blue-dark);
                background: var(--clr-gray-light);
            }
        }
    }
    .policy {
        display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        width: 100%;
        // max-width: 250px;
        margin: 5rem  0;

        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }

        a {
            display: inline-block;
            color: var(--clr-gray-dark-2);
            @include ease(.3s);

            &:hover, &:focus {
                transform: translateY(-3px) scale(1.1);
                color: var(--clr-green);
            }
        }
    }
}



footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;

    p {
        font-size: 1.3rem;
        color: var(--clr-gray-dark)
    }
    
    a {
        display: inline-block;
        color: inherit;
        transition: .4s;

        &:focus,
        &:hover {
            color: red;
            transform: scale(1.1) skew(10deg);

        }
    }
}







/////////////////////////////////////
        // Media Querries
///////////////////////////////////
/* Begin Media Queries*/
@media screen and (min-width: 1020px) {

    .section-footer .footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .section-footer {

        .contact-right {
            padding-top: 8rem;

            .contact-details {
                padding-left: 2rem;
            }
        }
    }
}

@media screen and (max-width: 1019px) {
    .section-footer {
        .contact-right {
            padding-top: 10rem;
        }
    }
}