<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success</title>

   
    <!-- main css file -->
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

    <div class="form-success">
        <h2 class="heading-secondary">Thank You</h2>
        <p>Your form submission has been received.</p>
        <a href="../" class="btn btn-primary">&LeftArrow; Back to the Website</a>
    </div>
       
</body>
</html>