---
title: Sheila Wristberg
meta: Our compassionate and highly skilled night nurses are dedicated to providing the highest quality care for your baby, with personalized attention and support that meets your family's unique needs
layout: 'base.njk'
---


{# We Are coming soon #}
{# <div class="section-coming">
    <div class="container wrapper">
        <div class="coming-text">
            <img src="/assets/logo-green.png" alt="Comfort Cradle" srcset="">
            <h1>We Are Coming Soon !!</h1>
            <p>Our Engineers are at work, bringing you the best from all ends.</p>
            <a href="#section-contact" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
</div> #}




<!-- =============== LANDING PAGE ============== -->
<section class="section-hero" id="hero">
    <div class="container wrapper">
        <div class="hero-container">
            <div class="hero-text">
                {# <h3>Welcome to</h3> #}
                <span class="hero-name">Stand out, scale up and make a positive impact.</span>
                {# <p>
                    Bringing Peace and Tranquility to Your Newborn's World.
                    Let our compassionate and highly skilled night nurses provide the expert care and attention your baby needs.
                </p> #}
                <div>
                    <a href="#section-contact" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="hero-image fade-in">
                <img src="/assets/sheila-wristberg.png" alt="Sheila Wristberg's photo" class="about-img">
            </div>

            {# Scroll down icon #}
            {# <a href="#about" class="scroll-down">
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </a> #}
        </div>
    </div>
</section>
{# landing Page Ended #}



{# =====================  Section About    ================== #}
<section class="section-about" id="about">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="heading-secondary">About Me</h1>
        </div>
        <div class="about-container">
            <div class="about-text fade-in">
                <h3 class="heading-tertiary">What We Stand For.</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <br>
                <p class="mb-20">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit velit ex consectetur similique quod voluptas, corporis commodi dolore aspernatur? Praesentium voluptatem id quos cum beatae. Cumque labore distinctio modi, quidem, sint nemo, at quae quod provident recusandae magnam. Odit, nihil?
                    <br>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem animi perferendis obcaecati et, corporis nobis voluptatibus rem pariatur! Hic, sed.
                </p>
                <a href="#" class="btn btn-primary">Lorem Ipsum</a>
            </div>
            <div class="about-img fade-in">
                <img src="/assets/about-sheila.png" alt="nanny for children">
            </div>
        </div>

        
    </div>
</section> 
{# End of Gallery container #}


 
{# ============================Section-quote =============== #}
<div class="section-quote">
    <div class="container wrapper">
        <div class="quote-container">
            <i class="fa-solid fa-quote-left quote-left"></i>
            <h1 class="quote-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h1>
            <h3>Richmond Duah</h3>
            <p>CEO of iRisk Management</p>
        </div>
    </div>
</div>
{# End of section-quote #}





{# Gallery #}
{# <div class="section-gallery">
    <div class="container wrapper">
        <div class="about-gallery">
            <img src="/assets/gallery-1.png" alt="baby">
            <img src="/assets/gallery-2.png" alt="baby">
            <img src="/assets/gallery-3.png" alt="baby">
            <img src="/assets/gallery-4.png" alt="baby">
            <img src="/assets/gallery-5.png" alt="baby">
            <img src="/assets/gallery-6.png" alt="baby">
        </div>
    </div>
</div> #}
{# end of session gallery #}



<!-- =============== SECTION TESTIMONIAL ================= -->
{# <section class="section-testimonials" id="testimonials">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-secondary">Here is what some client have to say</h2>
        </div>

        <div class="testimonials-container">
            <div class="testimonial">
                <img src="/assets/testimonial-img.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Lorem, ipsum dolor.</h4>
                <p class="testimonial__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque architecto dolorum eos, iusto repellat facere suscipit quis itaque ex corporis voluptatem id sapiente consectetur at magni eius culpa vel facilis.</p>
            </div>
            <div class="testimonial">
                <img src="/assets/testimonial-img.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Name here</h4>
                <p class="testimonial__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, accusantium provident voluptate odit facere, harum inventore quam quas dolorum itaque ex neque sed temporibus ullam possimus fugiat. Ea, sequi facilis?</p>
            </div>
            <div class="testimonial">
                <img src="/assets/testimonial-img.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Name here</h4>
                <p class="testimonial__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, accusantium provident voluptate odit facere, harum inventore quam quas dolorum itaque ex neque sed temporibus ullam possimus fugiat. Ea, sequi facilis?</p>
            </div>
        </div>
    </div>
</section> #}
{# End of Testimonial #}



{# ============== SECTION BANNER =============== #}
{# <section class="section-banner">
    <video autoplay loop muted src="/assets/video-bg.mp4" class="video"> your browser does not support video tag</video>
    <div class="overlay"></div>
    <div class="container wrapper">
        <h1>Your Babies are in <br> safe hands.</h1>
        <p>Comfort Cradle Care offers expert night nurses for new parents and their babies. Our nurses are trained, tested and trustworthy. <br> You can relax and bond with your baby while we take care of the rest.
            </p>

            <a href="#section-contact" class="btn btn-neutral"> Schedule a consultation </a>
    </div>
</section>  #}
{# End of Section banner #}




{# ============== SECTION Features =============== #}
<section class="section-featured" id="section-featured">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="heading-secondary">As Featured on</h1>
        </div>

        <div class="col-2-3">
            <img class="featured fade-in" src="/assets/angaza.png" alt="Angaza Awardee Sheila">
            <img class="featured fade-in" src="/assets/wima.png" alt="yips Africa logo">
            <img class="featured fade-in" src="/assets/ciic.png" alt="Angaza Awardee Sheila">
            <img class="featured fade-in" src="/assets/aio.png" alt="Angaza Awardee Sheila">
            <img class="featured fade-in" src="/assets/yips.png" alt="Angaza Awardee Sheila">
        </div>
    </div>
</section>
{# End of Section featured #}



{# ============== SECTION Videos =============== #}
<section class="section-video" id="section-video">
    <div class="container wrapper">
        <div class="text-center">
            <h1 class="heading-secondary">Videos</h1>
        </div>
        <div class="col-1-3">
            <iframe class="video fade-in" width="560" height="315" src="https://www.youtube.com/embed/3Izx1Hij7bM?si=W_lGdAq6nEDiBkBW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe class="video fade-in" width="560" height="315" src="https://www.youtube.com/embed/QzUSD7BLMqQ?si=IvAADMR58BzCs9Hg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe class="video fade-in" width="560" height="315" src="https://www.youtube.com/embed/i807SRP8nKY?si=-U2qYkROcFZUNyEn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</section>


